body {

    background-color:beige;
}
form{

    margin:30px;
}

h1{

    padding-left:60px;
    display:inline-block;
}

label{

    display:inline-block;
    padding-top:20px;
}



input[name="button"]{

    margin-left:100px;
    margin-top:20px;
}

input[name="Estado"] {
    border: none;
    border-bottom: 1px solid black;
}
input[name="Promedio"] {
    border: none;
    border-bottom: 1px solid black;
}
