
h1{

    font-size:medium;
    margin:20px 10px;
}
form {
    margin:10px;
   
}

label{
   padding-block:10px;
   display:inline-block;
}

body {
    background-color: beige;
}

img{
    height:50px;
}