
h1{

    font-size:medium;
    margin:20px 10px;
}
form {
    margin:50px;
   
}

label {
    display: inline-block;
    padding-top: 20px;
}

body {
    background-color: beige;
}

img{
    height:50px;
}

.header-label {
    display:inline-block;
    font-size: 48px;
    padding-left:80px;
}

.header-img {
    width: 250px;
    height: 250px;
    
}

table{
width: 100%;
text-align: left;
border-collapse: collapse;

}

