<html>
<head>
	<title>Informacion general</title>
	<link href="~/Estilos.css" rel="stylesheet" />

</head>
<body>
	<h1>Dariela Judith García Zuñiga</h1>
	@*Crear un controlador llamado Home y hacer que la acción Index regrese una vista donde se 
	muestre el nombre de la materia, semestre, periodo y nombre del alumno.*@
	<form>
		<label>Programación Web</label><br/>

		<label>Séptimo semestre</label><br />

		<label>AGOSTO - DICIEMBRE 2022</label>
		
	</form>
</body>
</html>
