<html>
<head>
	<title>Mi perfil</title>
	<link href="~/Estilos.css" rel="stylesheet" />

</head>
<body>

    <div class="Header">

        <img src="~/icon.png" />
        <label>Dariela Judith García Zuñiga</label>
    </div>
	
	@*Crear un controlador llamado Home y hacer que la acción Index regrese una vista donde se
	muestre el nombre de la materia, semestre, periodo y nombre del alumno.*@
    <form>
    <table>
  <tr>
    <th>Carrera:</th>
    <td>Sistemas computacionales</td>
  </tr>
  <tr>
    <th>Módulo de especialidad:</th>
    <td>Internet de las cosas</td>
  </tr>
  <tr>
    <th>Clave CURP:</th>
    <td>GAZD9909MCLRXR01</td>
  </tr>
  <tr>
    <th>Correo electrónico:</th>
    <td>181G0515@rcarbonifera.tecnm.mx</td>
  </tr>
  <tr>
    <th>Teléfono celular:</th>
    <td>864-103-88-57</td>
  </tr>
</table></form>
</body>
</html>
